.home__nav__Style {
  color: red;
}

.home__nav__Style:hover {
  color: black;
}
.cart__icon__wrapper {
  cursor: pointer;
  color: red;
}
.cart__icon__wrapper:hover {
  color: black;
}
.logo__style {
  height: 52px;
  margin-top: -13px;
}
.logo__heading__style {
  font-size: 26px;
  color: red;
  margin-top: -12px;
}
.logo__wrapper {
  cursor: pointer;
}
.logo__heading__style:hover {
  color: black;
}
.link__home-style {
  margin-top: 5px;
}
@media only screen and (max-width: 600px) {
  .logo__style {
    height: 44px;
    margin-top: -2px;
  }

  .logo__heading__style {
    font-size: 17px;
    margin-top: 0px;
    margin-right: 10px;
  }

  .link__home-style {
    margin-top: 4px;
  }
}
