.home__nav__Style {
  color: red;
}

.home__nav__Style:hover {
  color: black;
}
.cart__icon__wrapper {
  cursor: pointer;
  color: red;
}
.cart__icon__wrapper:hover {
  color: black;
}
@media only screen and (max-width: 600px) {
  .home__nav__Style {
    margin-left: 20px;
  }
}
